/* Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	color: #5c5c5c;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 23px;
	margin: 0;
	padding: 0;
	background: url('../images/bg.jpg') no-repeat fixed center;
	background-size: cover;
}

.boldF {	
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

#wrap {
    width: 960px;
    background: white;
    margin: 30px auto;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.header {
    margin-bottom: 40px;
}

#topBar {
    height: 47px;
    background-color: #353535;
}

.topNav {
    padding-left: 20px;
}
.topNav li {
    display: inline-block;
    padding: 12px 10px;
}
.topNav li a {
    color: white;
    text-transform: uppercase;
}

.logo {
    margin: 35px 0;
    padding: 0 30px;
}

.logo .title {
    color: #353535;
    font-family: 'Passion One',cursive;
    font-size: 80px;
    line-height: 84px;
}

.logo .description {
    border-left: 1px dashed #ccc;
    color: #999;
    font-weight: bold;
    margin-left: 17px;
    padding: 20px 0 20px 17px;
    position: relative;
    top: -20px;
}

.nav .bottomNav li {
    display: inline-block;
    padding: 12px 15px;
}
.nav {
    padding: 0 30px;
}
ul.bottomNav {
    background-color: #C14545;
}
.bottomNav li a {
    color: #FFFFFF; 
    font-size: 15px;  text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#content {
    padding: 0 30px;
}