extends layout
	
block content
	h2.boldF Music
	p
		| Where words fail, music speaks. I love listening to music. Here, I'll be posting songs that I like and enjoy listening to.
	h3.boldF A Thousand Years
	p
	<iframe width="560" height="315" src="//www.youtube.com/embed/QgaTQ5-XfMM" frameborder="0" allowfullscreen="" style="width: 100%; height: 400px;"></iframe>
	