extends layout
	
block content
	h2.boldF About me
	p
		|I was introduced to the world of programming in 2010. I was facinated by the fact that I was able to create just about anything through the tips of my fingers. I started off learning Java then I moved on to Java-Applet and created several games such as Othello and Bomberman. Moving forward, I learned a bit of PHP as I was very interested in making 'web' applications
		br
	h3.boldF HTML&CSS
	p
		|During my first work-term, I learned HTML & CSS. However, it wasn't the html&css I was used to. It was mixed with bunch of frameworks that collided with one another. I had to learn to style and fix css defects while overriding !important tags which were used by some frameworks. It wasn't pleasent at first, but as time passed by, I started to understand the power of writing clean re-usable code whether it be for a complicated multi-layer applications or just a simple website. I am happy that I went through all this because it really made me feel like a css 'master'. 
		br
	h3.boldF ASP.NET, MSSQL, AngularJS
	p
		| Working at DBRS, I've learned the 'big picture' of how applications are made. During the first few weeks, I created a simple 
		a(href="http://crown.azurewebsites.net") 'todo' 
		| application with 
		a(href="http://rayhu.com") Ray
		| &nbsp;using AngularJS binded with a RESTful API written in ASP.NET with MSSQL as database. Then, we worked on making new API functions for the company's insight application. During the last month, we worked on importing data from a third party API (12000 deals and a million metrics). To do this, we had to make API functions to parse the data in most efficient way possible and write powershell script to stablize the process. 
		| Meanwhile at home, I was thrilled to develop something with AngularJS after seeing how powerful and elegant it can be. So I created 
		a(href="http://udj.insoochoo.com") uDJ
		|, a youtube playlist application where one can search for youtube videos, add it to his/her playlist and share it with the world. I personally use it on a daily basis to listen to music.
		br
	h3.boldF NodeJS
	p
		| "Javascript is Magic".
		| Not to mention my first experience with Angular, &nbsp;
		a(href="http://nodejs.org") NodeJS
		| &nbsp is too magical. The concept of writing server-side and frontend-side using same language is mind blowing. Not to mention async data transfer benefits.
		| Using nodejs along with socket.io, 
		a(href="http://rayhu.com") Ray
		| &nbsp;and I created 
		a(href="http://guarded-badlands-5095.herokuapp.com") Virus
		| . It's a turn-based strategy game. The goal is to infect as much germs as possible.
		| Currently, I'm working with 
		a(href="http://bumjung.com") Paul
		| &nbsp;on 'SPEED', an interactive trivia game.