extends layout
	
block content
	h2.boldF Music
	p
		| Where words fail, music speaks. I love listening to music. Here, I'll be posting songs that I like and enjoy listening to.
	h3.boldF A Thousand Years
	p
	<iframe width="560" height="315" src="//www.youtube.com/embed/QgaTQ5-XfMM" frameborder="0" allowfullscreen="" style="width: 100%; height: 400px;"></iframe>
	a(href="http://udj.insoochoo.com/?list=QgaTQ5-XfMM+fz4MzJTeL0c+NCaH-qqTWpk+6Dakd7EIgBE+mJ_fkw5j-t0+rIBRcQdzWQs+dfRtPbBFoGg+SwbLtOWMc6c+9fAZIQ-vpdw+") uDJ Playlist of Piano Guys
	