extends layout
	
block content
	h2.boldF BOOM
	p
		|I'm Insoo Choo, a future software engineer currently finishing up second-year Software Engineering at the University of Waterloo.
		br
		br
		|I like building applications that are innovative, easy to use, elegant and meaningful. I strive for perfection and aim to deliver polished and finished products. 
		|If you're curious to know more about me, feel free to 
		a(href="./contact") contact me.
		br
	h3.boldF Word Clock
	#word-clock
	
