extends layout
	
block content
	h2.boldF BOOM
	p
		|I'm Insoo Choo, a future software engineer currently finishing up second-year Software Engineering at the University of Waterloo.
		br
		br
		|I like building applications that are innovative, easy to use, elegant and meaningful. I strive for perfection and aim to deliver polished and finished products. 
		|If you're curious to know more about me, feel free to 
		a(href="./contact") contact me.
		br
	h3.boldF Word Clock
	#word-clock
	h3.boldF Where words fail, music speaks
	<iframe width="560" height="315" src="//www.youtube.com/embed/QgaTQ5-XfMM" frameborder="0" allowfullscreen="" style="width: 100%; height: 400px;"></iframe>