doctype html

html(lang="en")
	head
		title Insoo Choo
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Passion+One:700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Changa+One')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700')
		link(rel='stylesheet', href='static/stylesheets/style.css')
	body
		#wrap
			.header
				#topBar
					ul.topNav.boldF
						li
							a(href="http://udj.insoochoo.com") Udj
						li
							a(href="#") /
						li
							a(href="./") Virus
						li
							a(href="#") /
						li
							a(href="http://storage.insoochoo.com") Storage
						li
							a(href="#") /
						li
							a(href="http://github.com/earl93") Github
						li
							a(href="#") /
						li
							a(href="./") LinkedIn

				#logoBar
					.logo
						a.title(href="./") Crown
						span.description Insoo's personal website
				#bottomBar
					.nav
						ul.bottomNav.boldF
							li
								a(href="./") Home
							li
								a(href="./") Blog
							li
								a(href="./") Projects
							li
								a(href="./") About
							li
								a(href="./") Contact
			#content BLah blah blah stuff goes here 
				block content
			.footer


		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src='/socket.io/socket.io.js')
		script(src='static/javascript/frontend.js')

