doctype html

html(lang="en")
	head
		title Insoo Choo
		link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Passion+One:700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Changa+One')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:900')
		link(rel='stylesheet', href='static/stylesheets/style.css')
	body
		#wrap
			.header
				#topBar
					ul.topNav.boldF
						li
							a(href="http://udj.insoochoo.com") Udj
						li
							a(href="#") /
						li
							a(href="./") Virus
						li
							a(href="#") /
						li
							a(href="http://storage.insoochoo.com") Storage
						li
							a(href="#") /
						li
							a(href="http://github.com/earl93") Github
						li
							a(href="#") /
						li
							a(href="./") LinkedIn

				#logoBar
					.logo
						a.title(href="./index") Crown
						span.description Insoo's personal website
				#bottomBar
					.nav
						ul.bottomNav.boldF
							li
								a(href="./index") Home
							li
								a(href="./blog") Blog
							li
								a(href="./projects") Projects
							li
								a(href="./about") About
							li
								a(href="./contact") Contact
			#content
				block content
			.footer
				.innerfooter.row
					.footerbox.col-xs-6 
						h4.boldF interest
						p Reinventing applications to help people better use and understand the true purpose of the app. 
					.footerbox.col-xs-6
						h4.boldF personal contact
						p 
							| Email : 
							a(href="#") earl93@hotmail.com
							br
							| Github : 
							a(href="http://github.com/earl93") github.com/earl93
					
			.f
				ul.footerNav.boldF
					li
						a(href="./index") Home
					li
						a(href="./blog") Blog
					li
						a(href="./projects") Projects
					li
						a(href="./about") About
					li
						a(href="./contact") Contact


		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src='/socket.io/socket.io.js')
		script(src='static/javascript/frontend.js')

