extends layout
	
block content
	h2.boldF Projects
	p
		|When I am not wasting my time, you can most likely find me working on projects. I like building applications that are innovative, easy to use, elegant and meaningful. I strive for perfection and aim to deliver polished and finished products. If you want to ask me more about my projects, start a project together or ask for a little help, feel free to  
		a(href="./contact") contact me.
		br
	h3.boldF 
		a(href="http://udj.insoochoo.com") uDJ
	a.fancybox(rel="group", href="../static/images/udj.png") 
		img(src="../static/images/udj.png")
	a.fancybox(rel="group", href="../static/images/udj2.png") 
		img(src="../static/images/udj2.png")
	p
		|uDJ is a youtube playlist in the begining of 2014. Using the search bar, one can search for youtube videos. Users can add videos to their playlist by clicking on the search results. Using the share button, a URL of the unique playlist will be copied to clipboard. The videos in the playlists are looped automatically so there is no need to manually selecting the next video. 
		br
		|This application was built using 
		a HTML
		| &nbsp, 
		a AngularJS
		| &nbsp;along with 
		a youtube API
		| .
	h3.boldF 
		a(href="http://guarded-badlands-5095.herokuapp.com/") Virus
	a.fancybox(rel="group", href="../static/images/virus2.png") 
		img(src="../static/images/virus2.png")
	a.fancybox(rel="group", href="../static/images/virus.png") 
		img(src="../static/images/virus.png")
	p
		|Virus is a turn-based strategy game for 2 players at a time. With a lobby system, users are able to challenge random players. In the game, players are allowed to talk to one another using the chat box. Additional features such as AI and account systems are under development.
		br
		|This application is written in 
		a Jade 
		| &nbsp;and 
		a Javascript 
		| &nbsp;along with 
		a NodeJS
		| &nbsp;and 
		a Socket.IO
		| &nbsp; on backend. 
		|Socket.io is utilized to allow players to communicate with the server and each other. Each player is represented as a socket object, when the player accesses the page, the client-side code links its socket object to the server-side. Then the server code is responsible for processing and returning informations such as available rooms, player decisions and current game state. The game logic is stored in server code.
	h3.boldF 
		a Jarvis
	a.fancybox(rel="group", href="../static/images/jarvis.png") 
		img(src="../static/images/jarvis.png")
	p
		| Jarvis is a full stack app made during DBRS Limited 2014 Hackathon for automating PR disclosure checking process for the compliance department. 
		a #First Place
		br
		| It uses 
		a NodeJS 
		| &nbsp;as a middleware that communicates with a 
		a ASP.NET 
		| &nbsp;API with 
		a MSSQL 
		| &nbsp;attached to it. A user passes in a press release document with specified jurisdictions and the app will return a report with disclosure information. 
	h3.boldF 
		a(href="http://crown.azurewebsites.net") SuperLegit2014
	a.fancybox(rel="group", href="../static/images/crown.png") 
		img(src="../static/images/crown.png")
	a.fancybox(rel="group", href="../static/images/crown2.png") 
		img(src="../static/images/crown2.png")
	p
		|SuperLegit2014 is a simple todo list application where one can create users and assign/edit/delete tasks for specific users. 
		br
		|This application is actually a combination of two applications, so called 
		a full-stack
		|&nbsp;application. The first one is a frontend shell using 
		a HTML
		| &nbsp;binded with 
		a AngularJS
		| . The second application is a RESTful API built on 
		a ASP.NET
		| &nbsp;hooked up with 
		a MSSQL
		| &nbsp;. The frontend application calls a proxy API which then calls the second application. Then the API returns data back to frontend.

	h3.boldF 
		a(href="http://storage.insoochoo.com") Storage
	a.fancybox(rel="group", href="../static/images/storage.png") 
		img(src="../static/images/storage.png")
	a.fancybox(rel="group", href="../static/images/storage2.png") 
		img(src="../static/images/storage2.png")
	p
		|Storage is a personal web storage application for saving files and links.
		br
		|This application is written in 
		a PHP
		| &nbsp;with 
		a MYSQL
		| &nbsp;used for database. It uses a session system to log user information. Along with 
		a SHA-256 
		| encryption with salt for verifications. As this was one of my first project, I'm currently working on reimplementing and redesigning the whole application with NodeJS with MongoDB.  
		br

	h3.boldF Speed
	p
		|Speed is an interactive math trivia game that is currently being worked on. 
		a Under development
		br