extends layout
	
block content
	h2.boldF Projects
	p
		|When I am not wasting my time, you can most likely find me working on projects. I like building applications that are innovative, easy to use, elegant and meaningful. I strive for perfection and aim to deliver polished and finished products. If you want to ask me more about my projects, start a project together or ask for a little help, feel free to  
		a(href="./contact") contact me.
		br
	h3.boldF uDJ
	img(src="../static/images/udj.png")
	p
		|uDJ is a youtube playlist in the begining of 2014. Using the search bar, one can search for youtube videos. Users can add videos to their playlist by clicking on the search results. Using the share button, a URL of the unique playlist will be copied to clipboard. The videos in the playlists are looped automatically so there is no need to manually selecting the next video. 
		br
		|This application was built using HTML, AngularJS along with youtube API.
	h3.boldF Virus
	img(src="../static/images/virus.png")
	p
		|....
		br
	h3.boldF SuperLegit2014
	p
		|It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
		br
	h3.boldF NodeJS
	p
		|It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
		br